<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matt's Story Pointer Application</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="/room-landing.js"></script>
    <script src="/client-name.js"></script>
    <script src="/admin.js"></script>
    <script src="/users-connected.js"></script>
    <script src="/voting.js"></script>
    <script src="/vote-results.js "></script>
</head>
<body>

    <!-- Enter Password Layer -->
    <div class="modal fade" id="passwordModal" tabindex="-1" data-bs-backdrop="static" 
        aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="passwordModalLabel">Join Room</h4>
                </div>
                <div class="modal-body">                    
                    <label for="roomPassword" class="form-label">Room Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="roomPassword" autocomplete="off">
                    </div>                                 
                </div>
                <div class="modal-footer">                    
                    <button id="withPasswordButton" type="button" class="btn btn-primary">
                        Join Room
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Admin Information Layer -->
    <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="adminModalLabel">Admin Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Current Admin: <span id='currentAdmin'></span></h4>
                    <section id="adminSelection" class="mt-2">
                        <h5>Change Admin</h4>
                        <div id="adminRadioSelection"></div>                        
                        <div class="input-group m-2">
                            <button id="adminButton" class="btn btn-primary" type="button">Update Admin</button>                            
                        </div>
                    </section>                    
                </div>
            </div>
        </div>
    </div>
  
    <!-- User Information Modal -->
    <div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="usernameModalLabel">User Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="m-2">
                        <h5>Your Username: <span id='currentName'></span></h4>
                        <div class="input-group">                            
                            <button id="nameButton" class="btn btn-primary" type="button">Update Name</button>
                            <input id="nameInput" class="form-control" autocomplete="off">
                        </div>
                    </section>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="navbar-brand">Matt's Pointing Picker</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>                           
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#usernameModal">Username Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#adminModal">Admin Settings</a>
                    </li>        
                </ul>                
            </div>
        </div>
    </nav>      

    <div class="container">
        <!-- Connected Users -->
        <section class="m-2 p-2 border border-2 rounded">
            <h4>Users Currently Connected: <span id='numberOfUsers'></span></h4>
            <ul id="usersConnected" class="list-group list-group-flush"></ul>            
        </section>
        <!-- Voting Control Buttons (admin only) -->
        <section id="voteButtons" class="m-2 p-2 border border-2 rounded" style="display:none">
            <h4>Voting Controls</h4>
            <button id="startVotesButton" type="button" class="btn btn-primary m-2">Start Voting</button>            
            <button id="showVotesButton" type="button" class="btn btn-success m-2" disabled="true">Show Votes</button>    
            <button id="clearVotesButton" type="button" class="btn btn-danger m-2">Clear Votes</button>
        </section>        
        <!-- Voting Section -->
        <section id="voteSection" class="m-2 p-2 border border-2 rounded" style="display: none;">  
            <h4>Vote Selection</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points1" value="1">
                <label class="form-check-label" for="points1">
                  1 Point
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points2" value="2">
                <label class="form-check-label" for="points2">
                    2 Points
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points3" value="3">
                <label class="form-check-label" for="points3">
                    3 points
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points5" value="5">
                <label class="form-check-label" for="points5">
                    5 Points
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points8" value="8">
                <label class="form-check-label" for="points8">
                    8 Points
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="points13" value="13">
                <label class="form-check-label" for="points13">
                    13 Points
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="pointsMoreInfo" value="Need More Info">
                <label class="form-check-label" for="pointsMoreInfo">
                    Need More Info To Decide
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pointSelection" id="pointsNA" value="N/A">
                <label class="form-check-label" for="pointsNA">
                    Not Applicable To Me
                </label>
            </div>
            <br>
            <button id="voteButton" class="btn btn-primary m-2">Submit Vote</button>            
        </section>
        <!-- User Vote Display -->
        <section id="voteSectionVote" class="m-2 p-1" style="display: none;">
            <h4>Your Vote: <span id="pointVote" class="badge bg-success"></span></h4>
        </section>
        <!-- Who Voted Section -->
        <section id="voteWaitingSection" class="m-2 p-2 border border-2 rounded" style="display: none;">
            <h4 id="voteWaitingHeader">Waiting For Users To Finish Voting...</h4>
            <h4 id="voteCompleteHeader" style="display: none;">Voting Complete!</h4>
            <ul id="usersVoted" class="list-group list-group-flush"></ul>                       
        </section>
        <!-- Vote Results Section -->
        <section id="voteResultsSection" class="m-2 p-2 border border-2 rounded" style="display: none;">
            <h4>Vote Results</h4>
            <table class="table">
                <tr>
                    <th></th>
                    <th id="headerNA">N/A</th>
                    <th id="headerNeedMoreInfo">Need More Info</th>
                    <th id="headerPoints1">1 Point</th>
                    <th id="headerPoints2">2 Points</th>
                    <th id="headerPoints3">3 Points</th>
                    <th id="headerPoints5">5 Points</th>
                    <th id="headerPoints8">8 Points</th>
                    <th id="headerPoints13">13 Points</th>              
                </tr>
                <tr>
                    <td>Number Of Votes</td>
                    <td id="resultsNA"></td>
                    <td id="resultsNeedMoreInfo"></td>
                    <td id="resultsPoints1"></td>
                    <td id="resultsPoints2"></td>
                    <td id="resultsPoints3"></td>
                    <td id="resultsPoints5"></td>
                    <td id="resultsPoints8"></td>
                    <td id="resultsPoints13"></td>              
                </tr>            
            </table>
            <h5>Average Points: <span id="resultsAverage"></span></h5>
        </section>
    </div>

    <script>
        var socket = io();        
        initialRoomLandingInteractions(socket);
        createNameInteractions(socket);
        createAdminInteractions(socket);
        initializeUsersConnected(socket);      
        initializeVotingInteractions(socket);
        handleShowVotingResults(socket);
    </script>
</body>

</html>